<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Data to HTTPS Endpoint</title>
</head>
<body>
  <br>
  <label for="field1">Username:</label>
  <input id="field1" type="text" placeholder="Field 1" />
  <br><br>
  <label for="field2">Password:</label>
  <input id="field2" type="text" placeholder="Field 2" />
  <br><br>

  <button id="sendData" class="btn success">Login</button>


<script src="/js/login.js"></script>


<style>
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}
</style>